*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(3, 68, 3);
    display: flex;
    justify-content: center;
    align-items:center;
}

.checked:before {

content: "✅ ";

}

.container_principal {
    background-color: rgb(219, 219, 219);
    min-width: 40rem; /* 400px */
    max-width: 60vh;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 2px 4px 10px rgb(221, 223, 221);
}

.titulo_lista {
    margin: 2rem 0 3rem 0;
    font-size: 2.5rem;
    color: rgb(42, 80, 41);
}

/* formulario */

.form_add {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    width: 95%;
}

.input_add {
    width: 30rem;
    height: 100%;
    padding: 1.2rem 1rem;
    background-color: #c8d6e5;
    outline: none;
    border: solid 1px #c8d6e5;
    border-radius: .8rem 0 0 .8rem;
    font-size: 1.4rem;
}

.input_add:focus {
    border: solid 1px rgb(42, 80, 41);
    border-right: #f3f3f3;
}

.button_add {
    background-color: rgb(17, 37, 25);
    color: #f3f3f3;
    padding: 0 1rem;
    font-size: 1.5rem;
    border-radius: 0 .8rem .8rem 0;
    border: none;
    cursor: pointer;
    transition: linear .3s;
}
.button_add:hover {
    background-color: forestgreen;
    transition: linear .3s;
}
/* container de tarefas */

.container_tarefas {
  width: 95%;
  min-height: 10rem;
  border-radius: .5rem;
  padding: 1rem 0;
  overflow-y: auto ;
}

.lista_tarefas {
  height: 100%;
  display: flex;
  flex-direction: column;
}

li {
  display: flex;
  justify-content: space-between;
  color: #222f3e;
  padding: .8rem .5rem;
}

li > p, li > span {
  font-size: 1.4rem;
}

li > p:before {
  content: "⚪";
  font-size: 1.2rem;
  margin-right: .5rem;
}

li > p {
  width: 80%;
}

/* container dos botões */

.container_botoes {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  margin: 3rem 0 2rem;
}

.button_marca {
  background: #052e15;
  border: solid 1px #052e15;  ;
}

.button_limpa {
  background: #084925;
  border: solid 1px #084925;
}

.button_limpa, .button_marca {
  color: #f3f3f3;
  padding: 1.2rem 1rem;
  font-size: 1.5rem;
  border-radius: .8rem;
  cursor: pointer;
  transition: linear .3s;
}

.button_marca:hover {
  background: #f3f3f3;
  color: #000000;
  transition: linear .3s;
}

.button_limpa:hover {
  background: #f3f3f3;
  color: #000000;
  transition: linear .3s;
}

/* responsividade */

@media only screen and (max-width: 480px) {
  .container_principal {
    min-width: 30rem;
    padding: 1.5rem;
  }
  
  .titulo_lista {
    margin: 2rem 0;
  font-size: 2rem;
  }

  .form_add {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .input_add {
    width: 100%;
    border-radius: .8rem;
    font-size: 1.2rem;
  }

  .input_add:focus {
    border-right: solid 1px #00d2d3;
  }

  .button_add {
    padding: .5rem;
    font-size: 1.3rem;
    border-radius: .8rem;
    margin-top: .5rem;
  }

  li {
    font-size: 1.2rem;
  }

  .modelo {
    min-height: 7rem;
    padding: .5rem 0; 
  }

  .modelo_tarefa {
    padding: .7rem; 
  }

  .modelo_conteudo {
    padding: .6rem .5rem;
  }

  .container_botoes {
    /* width: 100%; */
    flex-direction: column;
    margin: 2rem;
  }

  .button_marca, .button_limpa {
    padding: .5rem;
    font-size: 1.3rem;
    width: 100%;
  }
  .button_limpa {
    margin-top: .5rem ;
  }
}